{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">500 - Internal server error </h2>
                <h5 class="center-align">There is a problem with the resource you are looking for, and it cannot be displayed</h5>
                <h5 class="center-align"><a href="{{ url_for('index') }}" class="black-cta">Go to homepage</a></h5>
                <hr class="blackline"> 
            </div>       
        </div>
    </div>

{% endblock %}