@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap: 100, 200, 300, 400, 500, 600, 700, 800, 900');

/*-------------------------------------Special paddings/margins/text */ 

html {
    height: 100%;
    width: 100%;
}

body {
    font-family:  'Bebas Neue', cursive;
    color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h4 {
    font-size: 30px;  
}

p {
    font-family: 'Raleway', sans-serif;
}

.social-icons {
    margin-left: 15px;
    font-size: 18px;
}

.flashes h4 {
    background-color: #000;
    color: #fff;
    line-height: 2;
}

/*------------------------------------- Special Lines/ buttons/ rows */

.blackline {
    width: 70%;
    border: 1px solid;
}

.vertical-line {
    border-left: 2px solid black;
    height: 300px;
    padding-left: 15px;
}

.custom-btn {
    font-family:  'Bebas Neue', cursive;
    font-size: 20px;
    border: 5px;
    color: #fff;
    background-color: #171717;
}

.custom-btn:hover {
    color: #fff;
    background-color: #000;
}

#black-row {
    color: #fff;
    background-color: #000;
    padding: 10px;
}

/*------------------------------------- CTA's */

#white-cta {
    font-family:  'Bebas Neue', cursive;
    font-size: 2.92rem;
    border: 5px;
    color: #fff;
    text-decoration: underline;
}

#white-cta:hover {
    color: #bbb;
}

#black-cta {
    color: #000;
    text-decoration: underline;
}

#black-cta:hover {
    color: #585858;
}

/*------------------------------------- Heading */

.nav-socials {
    background-color: #1b1b1b;
    margin-bottom: 0px;
}

nav .brand-logo {
    margin-left: 20px;
    color: #000;
    font-size: 50px;
}

nav ul a {
    color: #000;
    font-size: 25px;
}

.dropdown-content li a {
    color: #000;
    font-size: 20px;
}

.nav-wrapper i {
    color: #000;
}

/*------------------------------------- Mobile heading  */

.sidenav {
    font-family: 'Bebas Neue', cursive;
}

.sidenav li a {
    color: #000;
    font-size: 20px;
}

/*------------------------------------- Footer */

.page-footer .footer-copyright {
    background-color: #1b1b1b;
}

/*------------------------------------- Homepage */

#introduction {
    background: url("https://images.pexels.com/photos/4725659/pexels-photo-4725659.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=500&w=1260");
    height: 500px;
    width: 100%;
    padding: 15px;
}

#home-quote {
    padding-top: 20%;
    margin-bottom: 0;
}

#home-text {
    margin-top: 0;
}

#cta-signup {
    background-color: #000;
    color: #fff;
}

/*------------------------------------- Recipes  */

.recipes-display {
    text-align: justify;
    margin-bottom: 20px;
}

.img_recipe {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }

.recipes-title {
    color: #000;
    font-size: 17px;
}

/*------------------------------------- Forms */

.range-field {
    margin-top: 65px;
}


/*------------------------------------- Add recipes  */
/* from: https://stackoverflow.com/questions/40534973/changing-the-color-of-the-range-slider-in-materializecss  */

 input[type=range]::-webkit-slider-thumb {
    background-color: #000;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #000;
  }
  input[type=range]::-ms-thumb {
    background-color: #000;
  }

  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: #000;
  }





