{% extends "base.html" %}
{% block content %}

    <!-- Title -->
    <div class="row">
        <h3 class="center-align">Edit category</h3>
        <hr class="blackline">
    </div>

    <!-- Add category -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
            <!-- Category name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="category_name" name="category_name" value="{{ category.category_name }}" type="text" pattern="^[A-Za-z0-9_]{1,20}$" class="validate" required>
                    <label for="category_name">Category name</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="col s4 btn-small custom-btn">Edit category</button>
                    <a class = "col s3 btn-small custom-btn center-align" href="{{ url_for('categories')  }}">cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}