{% extends "base.html" %}
{% block content %}

    <!-- Introduction -->
    <div class="row" id="introduction">
        <div class="col s12">
            <h3 id="home-quote">A perfect way to start the day.</h3>
            <p id="home-text">Get inspired, share recipes and enjoy.</p>
        </div>
    </div>

    <!-- About -->
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Start the day good</h3>
            <p class="center-align">
                Food is the most important energy source for your body. You can think 
                of food as fuel for your body. For new energy is a healthy breakfast the 
                perfect way to start the day.
            </p>
            <p class="center-align"> 
                Get inspired by a variety of breakfast ideas, search for tasty recipes and 
                post your own recipes.
            </p>
        </div>
    </div>

    <!-- CTA to sign up -->
    <div class="row" id="cta-signup">
        <div class="col s12">
            <h3 class="center-align">Get inspired, share and create.</h3>
        </div>
    </div>

    <!-- Recipes -->
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">New recipes</h3>
        </div>
    </div>

{% endblock %}