{% extends "base.html" %}
{% block content %}

    <!-- Title -->
    <div class="row">
        <h3 class="center-align">All recipes</h3>
        <hr class="blackline">
    </div>

    <!-- All recipes -->
    <div class="container">
        
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s4 recipe-img">
                <a href="#">
                    <img src="static/images/logo/logo-bt.png">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                </a>
            </div>
             {% endfor %}
        </div>
       
    </div>

   



{% endblock %}
    
