{% extends "base.html" %}
{% block content %}

   
    {% for recipe in recipes %}
        {{ recipe.title }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.prep_time}}<br>
        {{ recipe.ingredients}}<br>
        {{ recipe.instructions}}<br>
        {{ recipe.tips}}<br>
    {% endfor %}

    <!-- Title -->
    <div class="row">
        <h3 class="center-align">All recipes</h3>
        <hr class="blackline">
    </div>

    <!-- All recipes -->
    <div class="row">
        <div class="col s4 recipe-img">
            <a href="#">
                <img src="static/images/logo/logo-bt.png">
                <span class="card-title">Card Title</span>
            </a>  
         </div>
         <div class="col s4 recipe-img">
            <a href="#">
                <img src="static/images/logo/logo-bt.png">
                <span class="card-title">Card Title</span>
            </a>  
         </div>
         <div class="col s4 recipe-img">
            <a href="#">
                <img src="static/images/logo/logo-bt.png">
                <span class="card-title">Card Title</span>
            </a>  
         </div>
    </div>

   



{% endblock %}
    
